
@{
    ViewBag.Title = "Index";
}

<h2>Админ панель</h2>

<a href="/Admin/Flats">Управление квартирами</a><br/>
<a href="/Admin/Payements">Управление типами расчета</a><br />
<a href="/Admin/People">Управление пользователями</a><br />
<a href="/Admin/Possessions">Управление правами владения</a><br />
<a href="/Admin/Roles">Управление привелегиями</a><br />
<a href="/Admin/Services">Управление услугами</a><br />
<a href="/Admin/ServicesInfos">Управление типами услуг</a><br />